<table class="container">
    <tr>
        <td>
            <h1>{{SITE_NAME}}</h1>
        </td>
    </tr>
    <tr>
        <td>
            <form action="{{SITE_URL}}/mensagem" method="post">
                <label for="mensagem">Mensagem</label>
                <textarea name="mensagem" id="mensagem" rows="3"></textarea>
                <input type="submit" value="Enviar">
            </form>
        </td>
    </tr>
    <tr>
        <td>
            {{#mensagens}}
            <div class="mensagem">
                <p>
                    {{mensagem}}
                </p>
                <small>{{created_at_h}}</small>
            </div>
            {{/mensagens}}
        </td>
    </tr>
</table>